.panels {
  display: flex;
  height: 100vh;
  overflow: hidden;

  .panel {
    flex: 1;
    overflow: auto;
  }
  #panel1 {
    overflow-y: scroll;
    scrollbar-color: var(--editor-caret);

    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background-color: var(--editor-foreground);
    }
    &::-webkit-scrollbar-thumb {
      background: var(--editor-caret);
      color: var(--editor-caret);
      width: 2px;
      border-radius: 11px;
    }
  }
  #panel2 {
    overflow-x: scroll;
  }
}
