.settings_apiKey {
  padding: 36px;
  background-color: #fff;

  h2 {
    text-align: center;
  }
}
.settings_apiKey_form {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  label {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .settings_apiKey_form_input,
    .settings_apiKey_form_select {
      width: 100%;
      padding: 6px;
      border-radius: 11px;
      box-shadow: var(--shadow-elevation-low);
    }
  }
  .settings_apiKey_form_actions {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;

    button {
      box-shadow: var(--shadow-elevation-medium);
      outline: 0px;
      border: 1px solid;
      cursor: pointer;
      padding: 6px 26px;
      border-radius: 11px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:first-child {
        background-color: #333;
        color: #fff;

        .spinner_container {
          position: relative;
          margin-right: 22px;

          .spinner {
            &::before {
              border: 2px solid #333;
              border-top-color: #fff;
            }
          }
        }
      }
      &:last-child {
        background-color: #cccccc;
        color: #000;
      }
    }
  }
}

.settings {
  font-family: sans-serif;
  background-color: rgb(51, 51, 51);
  padding-left: 4px;
  padding-right: 4px;

  .section {
    font-size: 15px;
    background-color: rgb(51, 51, 51);
    color: #fff;
    padding: 16px 11px;
    /*  box-shadow: rgba(0, 0, 0, 0.255) 0px 1.6px 3.6px,
      rgba(0, 0, 0, 0.216) 0px 0px 2.9px; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.255);
    display: flex;
    flex-direction: column;
    gap: 12px;

    &_label {
      display: grid;
      grid-template-columns: 2fr 3fr;
      gap: 10px;
      text-align: end;

      .flex_item {
        display: flex;
        align-items: start;
        gap: 8px;

        p {
          font-size: 14px;
          color: #cccccc;
        }

        strong {
          margin-top: -6px;
        }
      }

      div {
        text-align: start;
        font-size: 13px;
      }

      input {
        border: 0px;
        outline: 0px;
      }
      &_btn {
        background: #454545;
        color: #fff;
        box-shadow: rgba(0, 0, 0, 0.255) 0px 1.6px 3.6px,
          rgba(0, 0, 0, 0.216) 0px 0px 2.9px;
        padding: 4px 12px;
        border-radius: 4px;
        cursor: pointer;
      }
      &_textField {
        width: 100%;
        background: #454545;
        color: #fff;
        box-shadow: rgba(0, 0, 0, 0.255) 0px 1.6px 3.6px,
          rgba(0, 0, 0, 0.216) 0px 0px 2.9px;
        padding: 4px 12px;
      }
    }
  }
}
